
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  height: 4em;
}

.logo{
  width: 17em;
  margin-top: 0.3%;
}

.store, .account {
  margin-top: 0.7%;
}

.title{
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Noto Sans', sans-serif;
}

.title h1{
  font-size: 2em;
}

.title h3{
  font-size: 1rem;
  font-weight: 400;
}

input[type="range"] {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 30em;
  margin-left: 10%;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(white, white) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;
}
input[type="range"]:active,
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 1em;
  width:1em;
  border-radius: 28px;
  background-color: black;
  position: relative;
  margin: 5px 0;
  /* Add some margin to ensure box shadow is shown */
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

.multi-range input[type="range"] {
  position: absolute;
}
/* .multi-range input[type="range"]:nth-child(1)::-webkit-slider-thumb::before {
  background-color: red;
} */
.multi-range input[type="range"]:nth-child(2) {
  background: none;
}
.multi-range input[type="range"]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: grey;
}

.carousel{
  width:90%;
  margin:0 auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
}

.card{
  border: 2px solid #fff;
  box-shadow: 1px 1px 15px #ccc;
}
.card-body{
  background: #fff;
  width: 100%;
  vertical-align: top;
}
.card-content{
  text-align: left;
  color: #333;
  padding: 15px;
}
.card-text{
  font-size: 14px;
  font-weight: 300;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
}

.prev, .next {
  margin: 0 0.25rem;
  width: 1rem;
  height: 1.5rem;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding:0;
  border: none;
  border-radius: 100%;
  background-color: grey;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: black;
}

@media screen and (max-width: 600px) {
  .logo img{
    width: 15em;
    margin-top: 2%;
    margin-left: 8%;
  }

  .store, .account {
    display: none;
  }
}

@media (min-width: 730px) and (max-width: 1024px) {
  .logo img{
    width: 15em;
    margin-top: 2%;
    margin-left: 8%;
  }

  .store, .account {
    margin-top: 1.3%;
  }
}